@charset "utf-8";

body{

background-color: #ccd8b1;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1{
    color: #a52a7c;
}
h2{
    color: blue;
}

#prin{
    
    text-align: center;
    color: crimson;
    background-color: white;
}

.basico{
    color: black;
}
.inter{
    color: chocolate;
}
.avan{
    color: darkblue;
}
.destaque{
    background-color: aquamarine;
}
